%h1 Chart
This is a chart of
=params[:tkr]

%script(src="/d3.v3.min.js")
%script(src="/rickshaw.min.js")

/ The div below, depends on rickshaw.min.js
#my_rickshawchart

:javascript
  var rows4chart = [];
  var xval = 0;
  d3.json("/tkrs/data/#{params[:tkr]}", function(error, rows) {
    if (error) throw error;
    rows.forEach(function(row) {
      rows4chart.push({x:xval,y:Number(row[4])});
      xval = xval + 1;
    });
  });

  var graph = new Rickshaw.Graph( {
    renderer: 'scatterplot',
    width: 800, 
    element: document.querySelector("#my_rickshawchart"), 
    series: [{
      color: 'steelblue',
      data: rows4chart
    }]
  });
  graph.render();
