
%script(src="/d3.v3.min.js")
%script(src="/rickshaw.min.js")

:css
  #a_spinner {animation: blinker 1s linear infinite;}
  @keyframes blinker {50% { opacity: 0.0; }}

%h1 Chart
This is a chart of
=params[:tkr]

%br/
%br/

/ The div below, depends on d3.v3.min.js
#a_spinner
/ The div below, depends on rickshaw.min.js
#my_rickshawchart

:javascript
  var mymsg = d3.select('#a_spinner').html('<h2>Loading...</h2><img src="/spinner.gif"></img>');
  var rows4chart1 = [];
  var rows4chart2 = [];
  var rows        = [];
  var xval        = 0;

  d3.json("/tkrs/data/#{params[:tkr]}",function(error, json) {
    if (error) throw error;
    rows = json;
    rows;
    rows.forEach(function(row) {
      var udate     = Date.parse(row[0]);
      var cls_price =     Number(row[4]);
      rows4chart1.push({x:udate,y:cls_price});
      xval = xval + 1;
    });
  });

  setTimeout(function(){
    rows4chart1.forEach(function(row){rows4chart2.push(rows4chart1.pop())});
    var graph = new Rickshaw.Graph( {
      renderer: 'scatterplot',
      width: 800, 
      element: document.querySelector("#my_rickshawchart"), 
      series: [{
        color: 'steelblue',
        data: rows4chart2
      }]
    });
    graph.render();
    mymsg.remove();
  },4000);

