
%script(src="/d3.v3.min.js")
%script(src="/rickshaw.min.js")

:css
  #a_spinner {
    animation: blinker 1s linear infinite;
  }
  @keyframes blinker {  
    50% { opacity: 0.0; }
  }

%h1 Chart
This is a chart of
=params[:tkr]

%br/
%br/

#a_spinner
/ The div below, depends on rickshaw.min.js
#my_rickshawchart

:javascript

  var rows4chart = [];
  var rows       = [];
  var xval       = 0;

  d3.json("/tkrs/data/#{params[:tkr]}",function(error, json) {
    if (error) throw error;
    rows = json;
    rows;
    rows.forEach(function(row) {
      rows4chart.push({x:xval,y:Number(row[4])});
      xval = xval + 1;
    });
  });

  var graph = new Rickshaw.Graph( {
    renderer: 'scatterplot',
    width: 800, 
    element: document.querySelector("#my_rickshawchart"), 
    series: [{
      color: 'steelblue',
      data: rows4chart
    }]
  });

  var mymsg = d3.select('#a_spinner').html('<h2>Loading...</h2><img src="/spinner.gif"></img>');
  setTimeout(function(){
    graph.render();
    mymsg.remove();
  },4000);

